
<div class="modal-header">
	<button type='button' class='close' ng-click="close()" aria-hidden='true'>&times;</button>				
	<h4 class="modal-title" >创建收费标准</h4>
	
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label" >名称</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="请输入名称" ng-model="tempCriterion.name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" >免费时长/分</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="请输入免费时长/分" ng-model="tempCriterion.freeMins">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" >起步价/元</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="请输入起步价/元" ng-model="tempCriterion.startExpense">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" >超出收费/元</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="" ng-model="tempCriterion.timeoutPrice">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label" >间隔时长/分</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="" ng-model="tempCriterion.timeoutPriceInterval">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label" >最高收费/元</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="" ng-model="tempCriterion.maxExpense">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label" >夜晚开始时间</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="夜晚开始时间，HH:mm" ng-model="tempCriterion.nightStartTime">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label" >夜晚结束时间</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="夜晚结束时间，HH:mm" ng-model="tempCriterion.nightEndTime">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label" >是否按此收费</label>
			<div class="col-sm-8">
				<input type="checkbox"  placeholder="" ng-model="tempCriterion.isOneTimeExpense">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label" >价格(元)/每次</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" placeholder="" ng-model="tempCriterion.oneTimeExpense">
			</div>
		</div>
		
			
		<div class="alert alert-info" ng-show="loading || submitted">
			<span  ng-show='loading' > <i class="fa fa-spinner"></i></span>
			<span ng-show='submitted'>{{result}}</span>
		</div>								

</form>
</div>

<div class="modal-footer">
	<button ng-click="close()" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	<button ng-click="submit()"  type="button" class="btn btn-primary">确定</button>
</div>

