
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden='true'>
    <div class='modal-dialog' style="min-width:880px">
<div class="modal-header panel panel-success" >
    <div class="panel-heading">
	<button type='button' class='close' ng-click="close()" aria-hidden='true'>&times;</button>				
	<h4 class="modal-title" >收费标准</h4>
</div>	
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label" >名称</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="请输入名称" ng-model="tempCriterion.name">
			</div>		
			<label class="col-sm-2 control-label" >免费时长/分</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="请输入免费时长/分" ng-model="tempCriterion.freemins">
			</div>
		</div>
		
		<div class="form-group">
            <label class="col-sm-2 control-label" >阶段1计费有效范围/分</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="阶段1范围/分" ng-model="tempCriterion.step1capacity">
            </div>
            <label class="col-sm-2 control-label" >阶段2计费有效范围/分</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="阶段2范围/分" ng-model="tempCriterion.step2capacity">
            </div>
        </div>
        
		<div class="form-group">
			<label class="col-sm-2 control-label" >计费单位 /分</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="即多少分钟为一个计费单位" ng-model="tempCriterion.timeoutpriceinterval">
			</div>
            <label class="col-sm-2 control-label" >阶段1小车计费 /元</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="小车第一阶段内单位计费标准" ng-model="tempCriterion.step1price">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" >阶段2小车计费/元</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="小车第二阶段内单位计费标准" ng-model="tempCriterion.step2price">
            </div>
            <label class="col-sm-2 control-label" >阶段1大车计费 /元</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="大车第一阶段内单位计费标准" ng-model="tempCriterion.step1pricelarge">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" >阶段2大车计费/元</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="大车第二阶段内单位计费标准" ng-model="tempCriterion.step2pricelarge">
            </div>
			<label class="col-sm-2 control-label" >最高收费/元</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="停车最高收费" ng-model="tempCriterion.maxexpense">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >夜晚开始时间</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="夜晚开始时间，HH:mm" ng-model="tempCriterion.nightstarttime">
			</div>
	
			<label class="col-sm-2 control-label" >夜晚结束时间</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="夜晚结束时间，HH:mm" ng-model="tempCriterion.nightendtime">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" >是否按此收费</label>
			<div class="col-sm-4">
				<input type="checkbox"  placeholder="" ng-model="tempCriterion.isonetimeexpense">
			</div>
			<label class="col-sm-2 control-label" >价格(元)/每次</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" placeholder="" ng-model="tempCriterion.onetimeexpense">
			</div>
		</div>
		<div class="form-group">
            <label class="col-sm-3 control-label" >收费说明</label>
            <div class="col-sm-8">
                <textarea rows=5  class="form-control"  ng-model="tempCriterion.explaination"></textarea>
            </div>
        </div>
        
			
		<div class="alert alert-info" ng-show="loading || submitted">
			<span  ng-show='loading' > <i class="fa fa-spinner"></i></span>
			<span ng-show='submitted'>{{result}}</span>
		</div>								

</form>
</div>

<div class="modal-footer">
	<button ng-click="close()" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	<button ng-click="submit()"  type="button" class="btn btn-primary">确定</button>
</div>
</div>
</div>

