<script src="/park/script/access.js"></script>

<div id="access">
	<div class="panel">
		<span class="label label-default">出入口实时流量管理</span>
	</div>
	
	<div>
		<div class="btn-group">
			<button id="refresh" type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
			<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"> </span> Add</button>
			<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"> </span> Update</button>
			<button id="deleteAccess" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"> </span> Delete</button>
	      	
		</div>
		
		<div class="input-group col-md-3 pull-right">
			 	<span class="input-group-addon"><span class="glyphicon glyphicon-search"> </span></span>
	        	<select class='form-control' id='searchPark'>
								<option value=-1>所有停车场</option>
				</select>
				
	   </div>
   </div>
	
	<div id='accessDiv'>
		<table id='accessTable' class="table table-hover table-bordered">
			<caption class="text-primary"></caption>
			<thead>
				<tr>
					<th><input type="checkbox" /></th>
					<th>Id</th>		
					<th>车库</th>
					<th>进出口</th>
					<th>出入日期</th>			
				</tr>
			</thead>
			<tbody id="accessBody">		
			</tbody>
		</table>
	</div>
	
	<div id='pagination'></div>
</div>

<div id='showMessage'>
</div>

<div id='showErrorMessage'>
</div>

<script>
$(document).ready(function(){
	$("#access_body").access.initial();
});

</script>