<script src="/park/script/loader.min.js"></script>
<script src="/park/script/apiUser.js"></script>

<link href="/park/css/ngActivityIndicator.min.css" rel="stylesheet">

<div class="content-wrapper" ng-app="apiUserApp" ng-controller="apiUserCtrl">
	<section class="content-header">
          <h1>
            用户token管理
            <small></small>
          </h1>     
    </section>
    <section class="content">
       <div class="row">
            <div class="col-xs-12">
              	<div class="box">
	                <div class="box-header">
	                  <h3 class="box-title"></h3>
	                </div><!-- /.box-header -->
	                <div class="box-body">  
		                	<div class="btn-group">
		                		<button #if(!$isAdmin) disabled#end ng-click="refreshUser()" type="button" class="btn bg-purple"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
		                		<button #if(!$isAdmin) disabled#end ng-click="insertUserModal()" type="button" class="btn bg-olive"><span class="glyphicon glyphicon-pencil"></span> 添加</button>
		                		<button #if(!$isAdmin) disabled#end ng-click="updateUserModal()" type="button" class="btn bg-navy"><span class="glyphicon glyphicon-edit"></span> 更新</button>
		                		<button #if(!$isAdmin) disabled#end ng-click="deleteUserModal()" type="button" class="btn  bg-orange"><span class="glyphicon glyphicon-remove"></span> 删除</button>
		                	</div>
	                	<div class="pull-right">
	                	<select class="form-control" style="padding:1px;font-size:14px;height:35px" id="searchPark">
	                		#if($isAdmin) <option value=-1>所有停车场</option>#end           		
	                	</select>
	                	</div>	                	
	                	<br/>   
	                    <br/> 
						<div>
						 <table class="display table table-hover  table-condensed" id='channelTable' style="font-size:12px">
				            <tr>				            
				             <th><span style=""><input type="checkbox" /></div></th>
									<th><span style="padding-left:15%">Id</div></th>		
									<th><span style="padding-left:15%">用户名</div></th>
									<th><span style="padding-left:15%">公司信息</div></th>
									<th><span style="padding-left:15%">联系人</div></th>
									<th><span style="padding-left:15%">电话</div></th>
									<th><span style="padding-left:15%">TokenId</div></th>
									<th><span style="padding-left:15%">token详情</div></th>
				            </tr>
				          <tbody id="channelBody"></tbody>
				          	<tr ng-repeat = "item in apiUsers">
				          		<td><input type="checkbox" ng-click="checked($index)"/></td>
				          		<td>{{item.id}}</td>
				          		<td>{{item.username}}</td>
				          		<td>{{item.companyInfo}}</td>   		
				          		<td>{{item.contact}}</td>
				          		<td>{{item.number}}</td>
				          		<td>{{item.tokenId}}</td>
				          		<td><a class="button" ng-click="showTokenModal($index)">点击查看</a></td>
				          </table>
    					</div>
    				</div>
    				<div class="box-footer clearfix">
      					 <div id='pagination'>
					    	<ul class="pagination" ng-repeat = "x in range(1, pageNumber)">
					    		<li><a href='#'>{{x}}</a></li>
					    	</ul>
					    
					    </div>
      				</div>
	            </div>
            </div>
        </div>

    </section>
						
</div>


