<script src="/park/script/operationArea.js"></script>
<script src="/park/script/service/textModalService.js"></script>
<div class="content-wrapper" ng-app="areaApp" ng-controller="areaCtrl">
	<section class="content-header">
          <h1>
       区管理
            <small></small>
          </h1>
       
    </section>

    <section class="content">
       <div class="row">
            <div class="col-xs-12">
              	<div class="box">	               
	             <div class="box-body"> 
					<div class="btn-group">
		                		<button #if(!$isAdmin) disabled#end id="refresh" ng-click="refreshArea()" type="button" class="btn bg-purple"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
		                		<button #if(!$isAdmin) disabled#end id='addUser' ng-click="insertArea()" type="button" class="btn bg-olive"><span class="glyphicon glyphicon-pencil"></span> 添加区</button>
		                		<button #if(!$isAdmin) disabled#end id='updateUser' ng-click="updateArea()" type="button" class="btn bg-navy"><span class="glyphicon glyphicon-edit"></span> 更新区信息</button>
		                		<button #if(!$isAdmin) disabled#end id='deleteUser' ng-click="deleteArea()" type="button" class="btn  bg-orange"><span class="glyphicon glyphicon-remove"></span> 删除区</button>
		                	</div>	
				<div class="pull-right">		
							                	
	                	</div>
	                    <br/>   
	                    <br/>    	
						<div>
							  <table class="table table-bordered table-striped table-hover table-condensed" id='parkTable' style="font-size:12px">
					          
					            <tr class="success">					            
					             <th><span style=""><input type="checkbox" /></div></th>
										<th ><span style="padding-left:15%">Id</div></th>								
										<th><span style="padding-left:15%">区编号</div></th>
										<th><span style="padding-left:15%">区名称</div></th>
										<th><span style="padding-left:15%">所属市</div></th>
										<th><span style="padding-left:15%">联系人</div></th>
										<th><span style="padding-left:15%">联系电话</div></th>
										<th><span style="padding-left:15%">添加时间</div></th>
										<th><span style="padding-left:15%">备注</div></th>	
															
					            </tr>
					          
					          <tbody id="parkBody"></tbody>
							  <tr ng-repeat="area in areas">
							  <td ><input type="checkbox" ng-model="area.checked" ng-click="selectChange($index)"/></td>
							  <td ng-bind="area.id"></td>
							  <td ng-bind="area.number"></td>
							  <td ng-bind="area.name"></td>
							  <td ng-bind="area.zoneCenterName"></td>
							  <td ng-bind="area.contact"></td>
							  <td ng-bind="area.phone"></td>
							  <td ng-bind="area.date"></td>
							  <td ng-bind="area.other"></td>
							
							  </tr>
					          </table>
    					</div>
    				</div>
    				<div class="box-footer clearfix">
      					<div id='pagination'></div>
      				</div>
	            </div>
            </div>
        </div>

    </section>
						
</div>




<script>


</script>