<link href="/park/plugins/datepicker/datepicker.css" rel="stylesheet">
<script src="/park/script/utility.js"></script>
<script src="/park/script/jquery.shCircleLoader-min.js"></script>
<script src="/park/script/jquery.json-2.4.min.js"></script>
<script src="/park/script/datepicker.js"></script>
<script src="/park/script/highcharts.js"></script>
<script src="/park/script/exporting.js"></script>
<script src="/park/script/HighchartTheme.js"></script>

<div class="content-wrapper">
	<section class="content-header">
          <h1>
			停车位利用率示意图
            <small>九比特信息系统</small>
          </h1>        
    </section>

    <section class="content">
       <div class="row">
            <div class="col-xs-12">
              	<div class="box">
	                <div class="box-header">
	                  <h3 class="box-title"></h3>
	                </div><!-- /.box-header -->
	                <div class="box-body">  
						<div id="chart-header">
							<div class="row">							
								<div class="col-md-3">
									<div class="form-group">
										<label for="park-select" class="control-label">停车场</label>
										<select id="park-select" class="form-control">
											#foreach( $park in $parks)
												<option value=$park.id>$park.name</option>
											#end
										</select>
									</div>
								</div>
				
							
								<div class="col-md-3">
									<div class="form-group">
										<label for="date" class="control-label">日期</label>
										<input type="text" id="date"  class="form-control date">									
									</div>
								</div>								
							</div>							
						</div>
						<div class="row">
							<div id="chart-content-park-charge" class="col-md-6">
							
							</div>
							<div id="chart-content-park" class="col-md-6">
							
							</div>
                        </div>
                        <div class="row">
                        	<div class="col-md-3">
								<div class="form-group">
									<label for="parkStartDate" class="control-label">起始日期</label>
									<input type="text" id="parkStartDate"  class="form-control date">									
								</div>
							</div>		
							<div class="col-md-3">
								<div class="form-group">
									<label for="parkEndDate" class="control-label">结束日期</label>
									<input type="text" id="parkEndDate"  class="form-control date">									
								</div>
							</div>		
                        </div>
                        <div class="row">
                        	<div id = "chart-park-period-charge">
                        	</div>
                        </div>
                        <div class="row">
							 <div class="col-md-3">
								<div class="form-group">
										<label for="park-select" class="control-label">停车位</label>
										<select id="carport-select" class="form-control">
                                        </select>
                                   </div>
                               </div>
						</div>
						<div class="row" >
							<div id="chart-content-carport-charge" class="col-md-6">
							
							</div>
							<div id="chart-content-carport" class="col-md-6">
							
							</div>
                        </div>
                        <div class="row" id="chart-content-carport-usage"></div>
                        
                        <div class="row">
                        	<div class="col-md-3">
								<div class="form-group">
									<label for="carportStartDate" class="control-label">起始日期</label>
									<input type="text" id="carportStartDate"  class="form-control date">									
								</div>
							</div>		
							<div class="col-md-3">
								<div class="form-group">
									<label for="carportEndDate" class="control-label">结束日期</label>
									<input type="text" id="carportEndDate"  class="form-control date">									
								</div>
							</div>		
                        </div>
                        <div class="row">
                        	<div id = "chart-carport-period-charge">
                        	</div>
                        </div>
    				<div class="box-footer clearfix">
      					
      				</div>
	            </div>
            </div>
        </div>

    </section>
						
</div>




<script src="/park/script/carportUsage.js"></script>

<script>
$(document).ready(function(){
	$.fn.carportUsage.initial();
	});
</script>