<script src="/park/script/channel.js"></script>
<link rel="stylesheet" type="text/css" href="/park/css/button.css" />


<div class="content-wrapper">
	<section class="content-header">
          <h1>
           硬件功能管理
            <small></small>
          </h1>
    
    </section>

    <section class="content">
       <div class="row">
            <div class="col-xs-12">
              	<div class="box">
	               <!--  <div class="box-header">
	                  <h3 class="box-title"></h3>
	                </div> --><!-- /.box-header -->
	                <div class="box-body" style="height:580px;padding: 50px 100px">
										<a href="/park/channel"><button class="button park" style="vertical-align:middle"><span>车流量探测器 </span></button></a>
										<a href="/park/barrier/"><button class="button charge" style="vertical-align:middle"><span>闸机管理 </span></button></a>
										<a href="/park/leftParkingCard"><button class="button hardware" style="vertical-align:middle"><span>诱导屏管理 </span></button></a>
										<a href="/park/businessCarportAngular"><button class="button poscharge" style="vertical-align:middle"><span>地磁管理 </span></button></a>
										<a href="/park/hardware"><button class="button charge" style="vertical-align:middle"><span>硬件设备管理 </span></button></a>
										<a href="/park/hardwareinfo/hardwareinfo"><button class="button hardware" style="vertical-align:middle"><span>设备查询 </span></button></a>
										<a href="#"><button class="button poscharge" style="vertical-align:middle"><span>地锁管理 </span></button></a>
										<a href="#"><button class="button park" style="vertical-align:middle"><span>高位视频桩 </span></button></a>
	                </div>
	            </div>
            </div>
        </div>

    </section>
						
</div>

<div id='showMessage'>
</div>

<div id='showErrorMessage'>
</div>

<script>
$(document).ready(function(){
	$.fn.channel.initial();
});

</script>

