<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<!--<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="/park/script/jquery.min.js"></script>
	
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!--
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	-->
	<!-- 可选的Bootstrap主题文件（一般不使用） 
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	-->
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<!--
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	-->
	
	<script src="/park/script/bootstrap.min.js"></script>
	<link href="/park/css/bootstrap.min.css" rel="stylesheet">
	<link src="/park/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	<link href="/park/css/main.css" rel="stylesheet">
	
	<script src="/park/script/utility.js"></script>
	<script src="/park/script/clickjs.js"></script>
	<script src="/park/script/jquery.shCircleLoader-min.js"></script>
	<script src="/park/script/jquery.json-2.4.min.js"></script>
	<script>

	</script>
	<title>Park Manager</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand"  >停车管理系统</a>
   </div>

      <ul class="nav nav-pills " id="daohang" >
         <li  class="daohang1 " style="border: 2px solid #fff;"><a href="/park/access">出入口实时流量管理</a></li>
         <li  class="daohang2" style="border: 2px solid #fff;"><a href="/park/parks">停车场管理</a></li>
         <li  class="daohang3" style="border: 2px solid #fff;"><a href="/park/channel">出入口管理</a></li>
         <li  class="daohang4" style="border: 2px solid #fff;"><a href="/park/businessCarport">停车位管理</a></li>
         <li  class="daohang5" style="border: 2px solid #fff;"><a href="/park/hardware">硬件设备管理</a></li>
         <li  class="daohang6" style="border: 2px solid #fff;"><a href="/park/users">APP用户管理</a></li>
         
      </ul>

</nav>

    	<div id="content" class="col-xs-12">
    			$screen_content
    		<div>   
</body>

</html>