<script src="/park/script/monthUser.js"></script>
<script src="/park/script/service/textModalService.js"></script>
<div class="content-wrapper" ng-app="monthUserApp" ng-controller="monthUserCtrl">
	<section class="content-header">
          <h1>
           月卡用户
            <small></small>
          </h1>
       
    </section>

    <section class="content">
       <div class="row">
            <div class="col-xs-12">
              	<div class="box">	               
	             <div class="box-body"> 
					<div class="btn-group">
		                		<button #if(!$isAdmin) disabled#end  ng-click="refreshUser()" type="button" class="btn bg-purple"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
		                		<button #if(!$isAdmin) disabled#end  ng-click="insertUser()" type="button" class="btn bg-olive"><span class="glyphicon glyphicon-pencil"></span> 添加</button>
		                		<button #if(!$isAdmin) disabled#end  ng-click="updateUser()" type="button" class="btn bg-navy"><span class="glyphicon glyphicon-edit"></span> 更新</button>
		                		<button #if(!$isAdmin) disabled#end  ng-click="deleteUser()" type="button" class="btn  bg-orange"><span class="glyphicon glyphicon-remove"></span> 删除</button>
								<button #if(!$isAdmin) disabled#end  ng-click="updateUserPark()" type="button" class="btn  bg-olive"><span class="glyphicon glyphicon-edit"></span> 所属停车场</button>
		                	</div>	
				<div class="pull-right">		
							                	
	                	</div>
	                    <br/>   
	                    <br/>    	
						<div>
							  <table class="table table-bordered table-hover table-condensed" style="font-size:12px">
					          
					            <tr>					            
					             <th><span style=""><input type="checkbox" /></div></th>
										<th ><span style="padding-left:15%">Id</div></th>								
										<th><span style="padding-left:15%">停车场名</div></th>
										<th><span style="padding-left:15%">卡号</div></th>
										<th><span style="padding-left:15%">车主</div></th>
										<th><span style="padding-left:15%">车牌号</div></th>
										<th><span style="padding-left:15%">车牌颜色</div></th>
										<th><span style="padding-left:15%">证件类型</div></th>	
										<th><span style="padding-left:15%">证件号码</div></th>
										<th><span style="padding-left:15%">开始时间</div></th>
										<th><span style="padding-left:15%">结束时间</div></th>	
										<th><span style="padding-left:15%">支付金额</div></th>	
										<th><span style="padding-left:15%">状态</div></th>							
					            </tr>
					          
					          <tbody id="parkBody"></tbody>
							  <tr ng-repeat="user in users">
							  <td ><input type="checkbox" ng-model="user.checked" ng-click="selectChange($index)"/></td>
							  <td ng-bind="user.id"></td>
							  <td ng-bind="user.parkname"></td>
							  <td ng-bind="user.cardnumber"></td>
							  <td ng-bind="user.owner"></td>
							  <td ng-bind="user.platenumber"></td>
							  <td ng-bind="user.platecolor"></td>
							  <td ng-bind="user.certificatetype"></td>
							  <td ng-bind="user.certificatenumber"></td>
							  <td ng-bind="user.starttime"></td>
							  <td ng-bind="user.endtime"></td>
							  <td ng-bind="user.payment | currency'￥'"></td>
							  <td ng-bind="user.status"></td>
							  </tr>
					          </table>
    					</div>
    				</div>
    				<div class="box-footer clearfix">
      					<div id='pagination'></div>
      				</div>
	            </div>
            </div>
        </div>

    </section>
						
</div>




<script>


</script>