#set($layout = "loginlayout.vm")
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=c7A2jm3enN7T0s5V8QbDHx85"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
  <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>
   <script type="text/javascript" src="/park/script/web_js.js"></script>
   <script type="text/javascript" src="/park/script/jquery.SuperSlide.2.1.1.js"></script>
  <script src="/park/script/map.js?v=2.3" type="text/javascript"></script>
  <link rel="stylesheet" href="/park/css/jquery.jscrollpane.css" type="text/css">
	
<style >
	#parkmap label {
	max-width: none;
	}
	  #parkmap {
	  width:100%;
	  height:100%;
	  
	  }
</style>
<div class="content-wrapper" >
<section class="content-header">
         
    </section>
<div class="panel panel-info" style="">
    <div class="panel-heading">
        <h3 class="panel-title">
           停车场分布示意图  
        </h3>
    </div>
    <div class="panel-body">
       <div  id="parkmap"></div>
		</div>
    </div>
</div>



  <script>  
  $(document).ready(function(){
            	$.fn.map.initial();
				$('#footer').remove();
            });  
  </script>