 #set($layout = "loginlayout.vm")
 <div class="container" style="min-width:1200px;width:100%">
	<div class="row" style="min-height:800px;min-width:1200px;padding-left:50px">
		<div class="col-md-4">
		
<div class="panel panel-info" style="min-height:350px;">
    <div class="panel-heading">
        <h3 class="panel-title">
          	近期日应收实收金额 
        </h3>
    </div>
    <div class="panel-body">
      <img src="/park/img/jinqiyingshoushishou.png" class="img-thumbnail"/>
    </div>                 
</div>  
<div class="panel panel-info" style="min-height:350px;margin-top:-20px">
    <div class="panel-heading">
        <h3 class="panel-title">
          	近期进出场车辆数 
        </h3>
    </div>
    <div class="panel-body">
       <img src="/park/img/ruchangchuchangshu.png" class="img-thumbnail"/>
		</div>
    </div>                 
</div>
		<div class="col-md-6" style="margin-left:-30px;margin-top:-20px">
		
		  <iframe src="/park/parkmap/" name="leftFrame2" scrolling="No" noresize="noresize"  style="width:100%;min-height:700px;" title="leftFrame"/></iframe>	

		</div>
<div class="col-md-2" style="margin-left:-30px;">
<div class="panel panel-info" style="min-height:700px;">
    <div class="panel-heading">
        <h3 class="panel-title">
          	停车场实时数据 
        </h3>
    </div>
    <div class="panel-body">
        <div class="row" style="height:400px;min-width:80px">										
							<table class="table table-hover" style="font-size:12px;vertical-align: middle;">					        								
							<tr>
								<th style=" text-align: center;vertical-align: middle;"><span>车牌号</span></th>
							
								<th style=" text-align: center;vertical-align: middle;"><span>动作</span></th>
							
								<th style=" text-align: center;vertical-align: middle;"><span>时间</span></th>
							</tr>
								<tr>				          						     
				          		<td >苏AUA777</td>	
								<td >入场</td>	
								<td >15:31:12</td>
								</tr>
								
								<tr>				          						     
				          		<td >苏A844E0</td>	
								<td >入场</td>	
								<td >15:26:22</td>
								</tr>
								
								<tr>				          						     
				          		<td >苏A3V9X7</td>	
								<td >出场</td>	
								<td >15:21:52</td>
								</tr>
								
								<tr>				          						     
				          		<td >苏A71P23</td>	
								<td >出场</td>	
								<td >15:18:02</td>
								</tr>
								
								<tr>				          						     
				          		<td >苏A8X8Q1</td>	
								<td >出场</td>	
								<td >15:11:42</td>
								</tr>
								
								<tr>				          						     
				          		<td >苏AX638U</td>	
								<td >入场</td>	
								<td >15:10:02</td>
								</tr>
								
								<tr>				          						     
				          		<td >苏A55EE8</td>	
								<td >出场</td>	
								<td >15:08:55</td>
								</tr>
                            </table>
    </div>   
		</div>
	</div>
</div>