<script src="/park/script/park.js"></script>
<script src="/park/script/Area.js" type="text/javascript"></script>
<script src="/park/script/AreaData_min.js" type="text/javascript"></script>


<div class="content-wrapper">
	<section class="content-header">
		<h1>
			停车场管理 <small></small>
		</h1>

	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-12" style="padding: 0 5px 0 5px;">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
					<div class="box-body"  style="padding: 0px;">
						<div class="btn-group" style="margin-left:10px;">
							<button #if(!$isAdmin) disabled#end id="refresh" type="button"
								class="btn btn-info"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-refresh"></span> 刷新
							</button>
							<button #if(!$isAdmin) disabled#end id='addPark' type="button"
								class="btn btn-primary"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-pencil"></span> 添加
							</button>
							<button #if(!$isAdmin) disabled#end id='updatePark' type="button"
								class="btn btn-warning"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-edit"></span> 更新
							</button>
							<button #if(!$isAdmin) disabled#end id='deletePark' type="button"
								class="btn btn-danger"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-remove"></span> 删除
							</button>
							<button #if(!$isAdmin) disabled#end id='uploadPic' type="button"
								class="btn btn-success"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-remove"></span>上传图片
							</button>

						</div>
						<div class="pull-right" style="width: 300px">
							<div class="input-group">
								<div class="row">
									<div class="col-md-9 ">
										<input type="text" class="form-control" id="searchContent">
									</div>
									<div class="col-md-3" style="margin-left: -15px;">
										<span class="input-group-btn">
											<button class="btn btn-default"
												type="button" id="searchButton">搜索</button>
										</span>
									</div>

								</div>
							</div>
							<!-- /input-group -->
						</div>

						<br /> <br />
						<div>
							<table
								class="table table-bordered table-hover table-condensed table-striped text-center"
								id='parkTable' style="font-size: 12px">

								<tr class="info" style="height: 30px; line-height: 30px;">

									<th><span><input type="checkbox" /> </span></th>
									<th><span>Id </span></th>
									<th><span>名称 </span></th>
									<th><span>进出口数 </span></th>
									<th><span>车位数 </span></th>
									<th><span>剩余车位 </span></th>
									<th><span>计费标准 </span></th>
									<th><span>状态 </span></th>
									<th><span>免费 </span></th>
									<!-- 									<th><span>楼层 </span></th>
 -->
									<th><span>类型 </span></th>
									<th><span>位置 </span></th>
									<th><span>日期 </span></th>
									<th><span>图片 </span></th>
								</tr>

								<tbody id="parkBody"></tbody>
							</table>
						</div>
					</div>
					<div class="box-footer clearfix">
						<div id='pagination'></div>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>



<div class="modal fade" id="searchParkByLocation" tabindex="-1"
	role="dialog" aria-labelledby='searchParkLoction' aria-hidden='true'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<button type='button' class='close' data-dismiss='modal'
					aria-hidden='true'>&times;</button>
				<h4 class='modal-title' id='addMacLabel'>查找停车场</h4>
			</div>
			<div class='modal-body'>

				<form class='form-horizontal' id='searchMacForm' role='form'>
					<div class='form-group'>
						<label class='col-sm-2 control-label' for='Tt'>位置</label>
						<div class='col-sm-8'>
							<input type='text' class='form-control' id='locationKeyWords'
								placeholder='地址关键字'>
						</div>
					</div>
				</form>
			</div>
			<div class="addMacResult"></div>
			<div class='modal-footer'>
				<button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
				<button id="submitSearchParkBtn" type='button'
					class='btn btn-primary'>查找</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addParkModal" tabindex="-1" role="dialog"
	aria-labelledby='addParkLabel' aria-hidden='true'>
	<div class='modal-dialog' style="min-width: 880px">
		<div class='modal-content'>

			<div class='modal-header'>
				<button type='button' class='close' data-dismiss='modal'
					aria-hidden='true' ng-click="clearPosition()">&times;</button>
				<h2 class='modal-title' style="padding-left: 40%" id='addParkLabel'>收费站点信息</h2>
			</div>
			<div class='modal-body '>
				<form class='form-horizontal' id='addParkForm' role='form'>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">基本信息</h3>
						</div>
						<div class="panel-body">
							<div class='form-group '>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='parkName'>名称</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='parkName'
										placeholder='请输入名称'>
								</div>
								<div class="col-sm-2 ">
									<label style="display: none" class='control-label'
										style="float:right" for='channelCount'>进出口数</label> <label
										class='control-label' style="float: right" for='parkType'>类型</label>
								</div>
								<div class='col-sm-4'>

									<select class='form-control' id='parkType'>
										<option value=0>室内停车场</option>
										<option value=1>室外停车场</option>
										<option value=3>路边停车场</option>
										<option value=4>充电桩</option>
										<option value=2>其它</option>

									</select>
								</div>
							</div>

							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class=' control-label' style="float: right"
										for='portCount'>车位数</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='portCount'
										placeholder='请输入车位数'>
								</div>
								<div class="col-sm-2 ">
									<label class=' control-label' style="float: right"
										for='leftPortCount'>剩余车位数</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='leftPortCount'
										placeholder='请输入剩余车位数'>
								</div>
							</div>

							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='longitude'>经度</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='longitude'
										placeholder='请输入停车场经度'>
								</div>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='latitude'>纬度</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='latitude'
										placeholder='请输入停车场纬度'>
								</div>
							</div>
							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='longitude'>进出口数</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='channelCount'
										placeholder='进出口数'>
								</div>

							</div>
						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">附加信息</h3>
						</div>
						<div class="panel-body">
							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right" for='contact'>联系人</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='contact'
										placeholder='联系人'>
								</div>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right" for='number'>联系人电话</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='number'
										placeholder='联系人电话'>
								</div>
							</div>

							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='feeCriterion'>计费标准</label>
								</div>
								<div class='col-sm-4'>
									<select class='form-control' id='feeCriterion'></select>
								</div>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right" for='status'>状态</label>
								</div>
								<div class='col-sm-4'>
									<select class='form-control' id='parkStatus'>
										<option value=0>可用</option>
										<option value=1>不可用</option>
									</select>
								</div>
							</div>

							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right">是否免费</label>
								</div>
								<div class='col-sm-4'>
									<div class='checkbox'>
										<label style="float: left"> <input type='checkbox'
											id='isFree'>免费
										</label>
									</div>
								</div>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right">图片地址</label>
								</div>
								<div class='col-sm-4'>
									<input type='text' class='form-control' id='mapAddr'
										placeholder='请输入停车场地图地址'>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">位置信息</h3>
						</div>
						<div class="panel-body">
							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='floorCount'>楼层数</label>
								</div>
								<div class='col-sm-4'>

									<input type='text' class='form-control' id='floorCount'
										placeholder='请输入楼层数'>

								</div>
								<div class="col-sm-2 "></div>
								<div class='col-sm-4'></div>
							</div>

							<div class='form-group'>
								<div class="col-sm-2 ">
									<label class='control-label' style="float: right"
										for='position'>位置</label>
								</div>
								<div class='col-sm-8'>
									<select id="seachprov" style="width: 120px; height: 35px"
										name="seachprov"
										onChange="changeComplexProvince(this.value, sub_array, 'seachcity', 'seachdistrict');"></select>&nbsp;
									<select id="seachcity" style="width: 120px; height: 35px"
										name="homecity"
										onChange="changeCity(this.value,'seachdistrict','seachdistrict');"></select>&nbsp;
									<span id="seachdistrict_div"><select id="seachdistrict"
										style="width: 120px; height: 35px" name="seachdistrict"></select></span>&nbsp;<input
										style="width: 150px; height: 35px" type='text'
										id="positionlast">
								</div>

							</div>
						</div>
					</div>


					<div id='addParkResult'></div>
			</div>

			<div class='modal-footer'>
				<button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
				<button id="submitParkBtn" type='button' class='btn btn-primary'>提交</button>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="uploadParkPic" tabindex="-1" role="dialog"
	aria-labelledby='uploadParkPicLabel' aria-hidden='true'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<button type='button' class='close' data-dismiss='modal'
					aria-hidden='true'>&times;</button>
				<h4 class='modal-title' id='uploadParkPicLabel'>上传停车场图片</h4>
			</div>
			<div class='modal-body'>
				<form></form>
				<form method='post' class='form-horizontal' role='form'
					id="pictureForm" action="/park/upload/parkPic"
					enctype="multipart/form-data">
					<div class='form-group'>
						<input name="parkId" type="hidden" id="parkId" /> <label
							class='col-sm-3 control-label' for='picture'>停车场图片</label>
						<div class='col-sm-6'>
							<input type='file' name="picture" class='form-control'
								id='picture' />
						</div>
					</div>
				</form>
			</div>

			<div class='modal-footer'>
				<button type='button' class='btn btn-default' data-dismiss='modal'>关闭</button>
				<button id="submitPicBtn" type='button' class='btn btn-primary'>提交</button>
			</div>
		</div>
	</div>
</div>

<div id='showMessage'></div>

<div id='showErrorMessage'></div>

<div id='showPicture'></div>

<script>
	$(document).ready(
			function() {
				$.fn.park.initial()
				initComplexArea('seachprov', 'seachcity', 'seachdistrict',
						area_array, sub_array, '44', '0', '0');

			});
</script>