<script src="/park/script/pos.js?v=1.2"></script>
<script src="/park/script/service/textModalService.js"></script>
<style>
.page-list .pagination {
	float: left;
}

.page-list .pagination span {
	cursor: pointer;
}

.page-list .pagination .separate span {
	cursor: default;
	border-top: none;
	border-bottom: none;
}

.page-list .pagination .separate span:hover {
	background: none;
}

.page-list .page-total {
	float: left;
	margin: 25px 20px;
}

.page-list .page-total input, .page-list .page-total select {
	height: 26px;
	border: 1px solid #ddd;
}

.page-list .page-total input {
	width: 40px;
	padding-left: 3px;
}

.page-list .page-total select {
	width: 50px;
}
</style>
<div class="content-wrapper" ng-app="posApp" ng-controller="posCtrl">
	<section class="content-header">
		<h1>
			手持终端管理 <small></small>
		</h1>

	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-12" style="padding: 0 5px 0 5px;">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"></h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body" style="padding: 0px;">
						<div class="btn-group" style="margin-left: 10px;">
							<button #if(!$isAdmin) disabled#end ng-click="refreshPos()"
								type="button" class="btn btn-info"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-refresh"></span> 刷新
							</button>
							<button #if(!$isAdmin) disabled#end ng-click="insertPos()"
								type="button" class="btn btn-primary"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-pencil"></span> 添加
							</button>
							<button #if(!$isAdmin) disabled#end ng-click="updatePos()"
								type="button" class="btn btn-warning"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-edit"></span> 更新
							</button>
							<button #if(!$isAdmin) disabled#end ng-click="deletePos()"
								type="button" class="btn btn-danger"
								style="border-radius: 25px; margin-right: 5px;">
								<span class="glyphicon glyphicon-remove"></span> 删除
							</button>
						</div>
						<div class="pull-right" style="margin-right:20px">
						<!-- 	<div class="input-group">
								<div class="row"> -->
									<div>
										<input type="search" ng-model="searchText"
											 ng-keyup="poskeyup($event)" class="form-control" placeholder="搜索" />
									</div>
									<!-- <div class="col-md-3" style="margin-left: -15px;">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="searchByParkNameAndNumber()" style="float: left">查找
											</button>
										</span>
									</div> -->

						<!-- 		</div>
							</div> -->
						</div>

						<br /> <br />
						<div>
							<table class="table table-bordered table-hover table-condensed"
								id='parkTable' style="font-size: 12px">

								<tr>
									<th><span style=""><input type="checkbox" /></span></th>
									<th><span>Id</span></th>
									<th><span>设备终端号</span></th>
									<th><span>所属停车场</span></th>
									<th><span>设备类型</span></th>
									<th><span>设备型号</span></th>
									<th><span>最后活跃时间</span></th>
									<th><span>添加时间</span></th>
									<th><span>所属路段</span></th>
									<th><span>操作员</span></th>


								</tr>

								<tbody id="parkBody"></tbody>
								<tr ng-repeat="pos in poses">
									<td><input type="checkbox" ng-model="pos.checked"
										ng-click="selectChange($index)" /></td>
									<td ng-bind="pos.id"></td>
									<td ng-bind="pos.num"></td>
									<td ng-bind="pos.parkName"></td>
									<td ng-bind="pos.type"></td>
									<td ng-bind="pos.model"></td>
									<td ng-bind="pos.lasttime"></td>
									<td ng-bind="pos.addtime"></td>
									<td ng-bind="pos.streetName"></td>
									<td ng-bind="pos.operator"></td>
								</tr>
							</table>
						</div>
						<tm-pagination conf="paginationConf"></tm-pagination>
					</div>
					<div class="box-footer clearfix">
						<div id='pagination'></div>
					</div>
				</div>
			</div>
		</div>

	</section>

</div>




<script>
	
</script>