<script src="/park/script/pos.js"></script>
<script src="/park/script/service/textModalService.js"></script>
<div class="content-wrapper" ng-app="posApp" ng-controller="posCtrl">
	<section class="content-header">
          <h1>
     手持终端管理
            <small></small>
          </h1>
       
    </section>

    <section class="content">
       <div class="row">
            <div class="col-xs-12">
              	<div class="box">	               
	             <div class="box-body"> 
					<div class="btn-group">
		                		<button #if(!$isAdmin) disabled#end  ng-click="refreshPos()" type="button" class="btn bg-purple"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
		                		<button #if(!$isAdmin) disabled#end  ng-click="insertPos()" type="button" class="btn bg-olive"><span class="glyphicon glyphicon-pencil"></span> 添加pos机</button>
		                		<button #if(!$isAdmin) disabled#end  ng-click="updatePos()" type="button" class="btn bg-navy"><span class="glyphicon glyphicon-edit"></span> 更新pos机信息</button>
		                		<button #if(!$isAdmin) disabled#end  ng-click="deletePos()" type="button" class="btn  bg-orange"><span class="glyphicon glyphicon-remove"></span> 删除pos机</button>
		                	</div>	
				<div class="pull-right">		
					<div class="btn-group">
						<input type="text" ng-model="searchText" class="form-control" style="float:right"/>										                              
                    </div>	
					<div class="btn-group">
						<button  type="button" class="btn btn-info" ng-click="searchByParkNameAndNumber()" style="float:left">查找
                         </button>
					 </div>	
					 
	                </div>
	                    <br/>   
	                    <br/>    	
						<div>
							  <table class="table table-bordered table-hover table-condensed" id='parkTable' style="font-size:12px">
					          
					            <tr>					            
					             <th><span style=""><input type="checkbox" /></span></th>
										<th><span style="padding-left:15%">Id</span></th>
										<th><span style="padding-left:15%">设备终端号</span></th>
										<th><span style="padding-left:15%">所属停车场</span></th>
										<th><span style="padding-left:15%">设备类型</span></th>
										<th><span style="padding-left:15%">设备型号</span></th>
										<th><span style="padding-left:15%">最后活跃时间</span></th>
										<th><span style="padding-left:15%">添加时间</span></th>
										<th><span style="padding-left:15%">所属路段</span></th>
										<th><span style="padding-left:15%">操作员</span></th>
										
															
					            </tr>
					          
					          <tbody id="parkBody"></tbody>
							  <tr ng-repeat="pos in poses">
							  <td ><input type="checkbox" ng-model="pos.checked" ng-click="selectChange($index)"/></td>
							  <td ng-bind="pos.id"></td>
							  <td ng-bind="pos.num"></td>
							  <td ng-bind="pos.parkName"></td>
							  <td ng-bind="pos.type"></td>
							  <td ng-bind="pos.model"></td>
							  <td ng-bind="pos.lasttime"></td>
							  <td ng-bind="pos.addtime"></td>
							  <td ng-bind="pos.streetName"></td>
							  <td ng-bind="pos.operator"></td>							 							
							  </tr>
					          </table>
    					</div>
    				</div>
    				<div class="box-footer clearfix">
      					<div id='pagination'></div>
      				</div>
	            </div>
            </div>
        </div>

    </section>
						
</div>




<script>


</script>