<script src="/park/script/service/textModalService.js"></script>
<link href="/park/plugins/datepicker/datepicker.css" rel="stylesheet">
<script src="/park/script/feeDetail2.js?v=1.1"></script>
<script src="/park/script/datepicker.js"></script>
<link href="/park/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="/park/script/moment-with-locales.min.js"></script>
<script src="/park/script/bootstrap-datetimepicker.min.js"></script>
<style>
  .page-list .pagination {
    float: left;
  }

  .page-list .pagination span {
    cursor: pointer;
  }

  .page-list .pagination .separate span {
    cursor: default;
    border-top: none;
    border-bottom: none;
  }

  .page-list .pagination .separate span:hover {
    background: none;
  }

  .page-list .page-total {
    float: left;
    margin: 25px 20px;
  }

  .page-list .page-total input, .page-list .page-total select {
    height: 26px;
    border: 1px solid #ddd;
  }

  .page-list .page-total input {
    width: 40px;
    padding-left: 3px;
  }

  .page-list .page-total select {
    width: 50px;
  }
</style>
<div class="content-wrapper" ng-app="feeDetailApp" ng-controller="feeDetailCtrl">
  <section class="content-header">
    <h1>
      停车记录
      <small></small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12" style="padding: 0 5px 0 5px;">
        <div class="box">

          <div class="box-body">
            <div style="padding-top:5px;">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">停车记录</h3>
                </div>
                <div class="panel-body">
                  <div class="row" style="padding: 0px 0 0 5px">
                    <div class="col-md-1">
                      <label class="label-control"
                             style="float: right;padding-top: 8px;"> 查询:</label>
                    </div>

                    <div class="col-md-2">
                      <input type="text" ng-model="searchText"
                             ng-keyup="carnumberkeyup($event)" class="form-control"
                             placeholder="输入查询条件"/>
                    </div>
                    <div class="btn-group col-md-5" role="group" aria-label="..."
                         style="border-shadow: 5px 5px #888888">
                      <button type="button" class="btn btn-info"
                              ng-click="searchByCarNumberAndPN()">查询</button>
                    </div>
                  </div>

                  <!-- <div style="display:inline-block">
                    <input type="search" ng-model="searchParkNameText" ng-keyup="parknamekeyup($event)" class="form-control"
                           placeholder="停车场"/>
                  </div> -->
                  <div class="row" style="padding: 15px 0 0 5px">
                    <div class="col-md-1">
                      <label class="label-control"
                             style="float: right; padding-top: 10px;"> 查询条件:</label>
                    </div>
                    <div class="col-md-2">
                      <input type="text" ng-model="searchcarNumber" class="form-control"
                             placeholder="车牌号"/>
                    </div>
                    <div class="col-md-2">
                      <input type="text" id="date1" ng-model="startDate"
                             class="form-control date">
                    </div>
                    <div class="col-md-2">
                      <input type="text" id="date2" ng-model="endDate"
                             class="form-control date">
                    </div>
                    <div class="btn-group col-md-5" role="group" aria-label="..."
                         style="border-shadow: 5px 5px #888888">
                      <button type="button" class="btn btn-info"
                              ng-click="searchDateTime()">查询</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!--<div style="padding-top:5px;">-->

              <!--<div style="display:inline-block">-->
                <!--<input type="search" ng-model="searchText" ng-keyup="carnumberkeyup($event)" class="form-control"-->
                       <!--placeholder="输入查询条件" style="width:80px;" />-->
              <!--</div>-->
              <!--&lt;!&ndash; <div style="display:inline-block">-->
                <!--<input type="search" ng-model="searchParkNameText" ng-keyup="parknamekeyup($event)" class="form-control"-->
                       <!--placeholder="停车场"/>-->
              <!--</div> &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="row" style="padding: 15px 0 0 5px">-->
							<!--<div class="col-md-1">-->
								<!--<label class="label-control"-->
									<!--style="float: right; padding-top: 10px;"> 查询条件:</label>-->
							<!--</div>-->
							<!--<div class="col-md-2">-->
								<!--<input type="text" ng-model="searchcarNumber" class="form-control"-->
								<!--placeholder="车牌号"/>-->
							<!--</div>-->
							<!--<div class="col-md-2">-->
								<!--<input type="text" id="date1" ng-model="startDate"-->
									<!--class="form-control date">-->
							<!--</div>-->
							<!--<div class="col-md-2">-->
								<!--<input type="text" id="date2" ng-model="endDate"-->
									<!--class="form-control date">-->
							<!--</div>-->
							<!--<div class="btn-group col-md-5" role="group" aria-label="..."-->
								<!--style="border-shadow: 5px 5px #888888">-->
								<!--<button type="button" class="btn btn-info"-->
									<!--ng-click="searchDateTime()">查询</button>-->
							<!--</div>-->
						<!--</div>-->

          <!--</div>-->

          <div>
            <table class="table table-bordered table-hover table-striped table-condensed" id='channelTable'
                   style="font-size:12px">
              <tr class="info" style="height: 30px; line-height: 30px;padding: 0px;">
                <th hidden><span style=""><input type="checkbox"/></span></th>
                <th><span>id</span></th>
                <th><span>车牌号</span></th>
                <th><span>卡号</span></th>
                <th><span>停车场编号</span></th>
                <th><span>停车场名称</span></th>
                <th><span>停车类型</span></th>
                <th><span>应收费</span></th>
                <th><span>折扣</span></th>
                <th><span>实付</span></th>
                <th><span>图片地址</span></th>
                <th><span>其他</span></th>
                <th><span>交易编号</span></th>
                <th><span>进场时间</span></th>
                <th><span>离场时间</span></th>
              </tr>
              <tbody id="channelBody"></tbody>
              <tr ng-repeat="item in detail.items">
                <td hidden><input type="checkbox" ng-model="item.checked"/></td>
                <td ng-bind="item.id"></td>
                <td ng-bind="item.carNumber"></td>
                <td ng-bind="item.cardNumber"></td>
                <td ng-bind="item.parkId"></td>
                <td ng-bind="item.parkName"></td>
                <td ng-bind="item.stopType"></td>
                <td ng-bind="item.shouldCharge"></td>
                <td ng-bind="item.discount"></td>
                <td ng-bind="item.realPay"></td>
                <td ng-bind="item.picturePath"></td>
                <td ng-bind="item.other"></td>
                <td ng-bind="item.tradeNumber"></td>
                <td ng-bind="item.arriveTime"></td>
                <td ng-bind="item.leaveTime"></td>
            </table>
          </div>
          <tm-pagination conf="paginationConf"></tm-pagination>


        </div>
      </div>
    </div>

  </section>

  <script type="text/ng-template" id="myModalTest">
    <!-- 模态框（Modal） -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true" ng-click="texta()">
            &times;
          </button>
          <h4 class="modal-title"> yyy
          </h4>
        </div>
        <div class="modal-body">
          {{textaaa}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">
            关闭
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </script>
</div>
