<script src="/park/script/user.js"></script>
<link href="/park/cssmb/tables.css" rel="stylesheet">
<link href="/park/cssmb/master.css" rel="stylesheet">
<div id="user">
<div class="row" style="width:100%">
<div class="box grid_12" style="width:100%">
        <div class="box-head" style="height:40px"><h2 >App用户管理</h2></div>
        
              <div class="input-group col-md-3 pull-right" style="padding:1px;">
			  <span class="input-group-addon" style="height:26px"><span class="glyphicon glyphicon-search"> </span> </span>
	        	<select class='form-control' style="padding:1px;font-size:14px;height:28px" id='searchPark'>
								<option value=-1>所有停车场</option>
				</select>
				
	   </div>
        
      
	   
        <div class="box-content no-pad">
         <ul class="table-toolbar">
         
            <li id="refresh" ><a  href="#" ><img src="img/icons/basic/refresh.png" style="width:18px;height:auto;" alt="" /> 刷新</a></li>
            <li><a href="#"><img src="img/icons/basic/plus.png" alt="" /> 添加</a></li>           
            <li><a href="#"><img src="img/icons/basic/up.png" alt="" /> 更新</a></li>
            <li  id=""><a href="#"><img src="img/icons/basic/delete.png" alt="" /> 删除</a></li>
             <li id=''><a href="#"><img src="img/icons/basic/Search.png" style="width:18px;height:auto;" alt="" /> 查找</a></li>
          </ul>
          <table class="display table table-hover  table-condensed"  style="font-size:12px" id='accessTable' >
           <thead>
            <tr>
             <th><span style=""><input type="checkbox" /></div></th>
					<th ><span style="padding-left:15%">Id</div></th>		
					<th><span style="padding-left:15%">用户名</div></th>
					<th><span style="padding-left:15%">联系电话</div></th>
					
            </tr>
          </thead>
          	<tbody id="userBody">		
			</tbody>
          </table>
		    </div>
		    <div id='pagination'></div>
        </div>
        </div>
	<div >
	


<script>
$(document).ready(function(){
	$("#userBody").user.initial();
});

</script>