#set($layout = "nullLayout.vm")
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>支付成功页面</title>
  <link rel="stylesheet" href="http://www.iotclouddashboard.com/park/alipayh5/css/main.css">
</head>
<body id="body">
  <div class="container container-success">
    <div class="header header-success">
     
      <p>结果详情</p>
    </div>
    <div class="main-info">
      <div class="ali-logo">
        <p>支付成功</p>
      </div>
      <div class="park-fee">
        
      </div>
      <div class="notice">
        <p></p>
      </div>
    </div>
  </div>
  <script>
    window.onload = function () {
      var body = document.getElementById('body');
      var viewportHeight = document.documentElement.clientHeight;
      body.style.minHeight = viewportHeight + 'px';
    }
  </script>
</body>
</html>