	.imglist{
		overflow: hidden;
		width:100%;
		text-align:center;
		margin-left: 8%;
	}
	.imglist li{
		position:relative;
		margin:10 10px;
		float: left;
		display:inline;
		width:190px;
		height:190px;
		list-style-type:none;
	}
	.imglist li:nth-child(n) a{
		-webkit-transform:none;
		-moz-transform:none;
		-ms-transform:rotate(2deg);
		transform:none;
		top:30px;
	}
	.imglist li a:hover{
		-webkit-transform:scale(1.25);
		-moz-transform:scale(1.25);
		-ms-transform:scale(1.25);
		transform:scale(1.25);
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0);
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0);
		-o-box-shadow:0 1px 1px rgba(0,0,0,0);
		box-shadow:0 1px 1px rgba(0,0,0,0);
		z-index: 1;
	}
	
	.imglist .recod a{
		width: 160px;
		height: 160px;
		border-radius:20px;
	}
	.imglist a{
		position: absolute;
		width: 190px;
		height: 50px;
		color:white;
		padding-top:120px;
		text-align:center;
		font-size:16px;
		left: 0;
	}