@font-face {
  font-family: 'FontAwesome';
  src: url('/park/fonts/fontawesome-webfont.eot');
  src: url('/park/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/park/fonts/fontawesome-webfont.woff') format('woff'), url('/park/fonts/fontawesome-webfont.ttf') format('truetype'), url('/park/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}


.body-nav.body-nav-vertical ul li {
  background-color: #1c3546;
  background-image: -moz-linear-gradient(top, #1f3a4d, #182c3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#182c3b));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #182c3b);
  background-image: -o-linear-gradient(top, #1f3a4d, #182c3b);
  background-image: linear-gradient(to bottom, #1f3a4d, #182c3b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff182c3b', GradientType=0);
  border-bottom: 1px solid #020304;
  -webkit-box-shadow: 1px 1px 2px rgba(31, 58, 77, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(31, 58, 77, 0.1);
  box-shadow: 1px 1px 2px rgba(31, 58, 77, 0.1);
  background-color: #192f3e;
  background-image: -moz-linear-gradient(top, #1f3a4d, #101f29);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#101f29));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #101f29);
  background-image: -o-linear-gradient(top, #1f3a4d, #101f29);
  background-image: linear-gradient(to bottom, #1f3a4d, #101f29);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff101f29', GradientType=0);
  -webkit-box-shadow: 1px 1px 2px #20a3fb;
  -moz-box-shadow: 1px 1px 2px #20a3fb;
  box-shadow: 1px 1px 2px #20a3fb;
  background-color: #1f3a4d;
  background-image: -moz-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#1f3a4d));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -o-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: linear-gradient(to bottom, #1f3a4d, #1f3a4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff1f3a4d', GradientType=0);
  border-bottom: 2px solid #048ae4;
  -webkit-box-shadow: 1px 1px 2px #1f3a4d;
  -moz-box-shadow: 1px 1px 2px #1f3a4d;
  box-shadow: 1px 1px 2px #1f3a4d;
  border-bottom: 2px solid #182c3b;
  -webkit-box-shadow: 2px 2px 4px #1f3a4d;
  -moz-box-shadow: 2px 2px 4px #1f3a4d;
  box-shadow: 2px 2px 4px #1f3a4d;
}
.body-nav.body-nav-vertical ul li a,
.body-nav.body-nav-vertical ul li button {
  height: 51px;
}
.body-nav.body-nav-vertical ul li:first-child {
  border-top: 1px solid #048ae4;
}
.body-nav.body-nav-vertical.body-nav-fixed {
  position: fixed;
}
.body-nav.body-nav-horizontal {
  background-color: #1f3a4d;
  background-image: -moz-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#1f3a4d));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -o-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: linear-gradient(to bottom, #1f3a4d, #1f3a4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff1f3a4d', GradientType=0);
  border-bottom: 2px solid #2e5571;
  -webkit-box-shadow: 1px 1px 2px #1f3a4d;
  -moz-box-shadow: 1px 1px 2px #1f3a4d;
  box-shadow: 1px 1px 2px #1f3a4d;
  height: 70px;
}
.body-nav.body-nav-horizontal ul li {
  border-left: 1px solid #101f29;
  border-right: 1px solid #101f29;
  width: 80px;

  float: left;
}
.body-nav.body-nav-horizontal ul li a,
.body-nav.body-nav-horizontal ul li button {
  height: 63px;
}
.body-nav.body-nav-horizontal.body-nav-fixed {
  position: fixed;
  display: inline;
  right: 0;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;

 
}
.body-nav ul {
  height: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.body-nav ul li {
  width: 100%;
  border-bottom: 1px solid #101f29;
  border-top: 1px solid #101f29;
}
.body-nav ul li.active {
  background-color: #192f3e;
  background-image: -moz-linear-gradient(top, #1f3a4d, #101f29);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#101f29));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #101f29);
  background-image: -o-linear-gradient(top, #1f3a4d, #101f29);
  background-image: linear-gradient(to bottom, #1f3a4d, #101f29);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff101f29', GradientType=0);
}
.body-nav ul li > a,
.body-nav ul li > button {
  font-size: 11px;
  opacity: .9;
  color: #ffffff;
  padding-top: 15px;
  display: block;
}
.body-nav ul li > a small,
.body-nav ul li > button small {
  color: #0bb8e4;
}
.body-nav ul li > a i.icon-large,
.body-nav ul li > button i.icon-large {
  font-size: 32px;
  line-height: 32px;
  margin-top: -5px;
  width: 100%;
  display: block;
}
.active
{
  background-color: #020304;
  text-decoration: none;
	}
.body-nav ul li > a:hover,
.body-nav ul li > button:hover {
  background-color: #020304;
  text-decoration: none;
}
.body-nav ul li > a small,
.body-nav ul li > button small {
  color: #0bb8e4;
}
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-dashboard:before {
  content: "\f0e4";
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"],
.nav-tabs [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}

.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-repeat:before {
  content: "\f01e";
}
/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up:before {
  content: "\f087";
}
.icon-thumbs-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-user-md:before {
  content: "\f200";
}

.body-nav.body-nav-vertical {
  position: absolute;
  float: left;
  z-index: 920;
  margin-top: 68px;
  font: white;
  box-sizing: border-box;
  color: #ffffff;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: 20px;
  }
  .navbar-fixed-bottom {
    margin-top: 20px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #e1e1e1;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #e1e1e1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #262626;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: #111111;
  }
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}



@media (min-width: 768px) and (max-width: 979px) {
  body .nav-page > .container {
    width: auto;
  }
  body .nav-page > .container .row {
    margin-left: inherit;
  }
  body .nav-page [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }
  body .nav-page .page-nav-options {
    height: auto;
  }
  body .nav-page .btn-navbar {
    font-size: 18px;
    line-height: 24px;
    margin-top: 14px;
  }
  body .body-nav .body-nav-vertical ~ .page.container {
    padding-left: 20px;
    width: auto;
  }
  body .body-nav.body-nav-vertical ~ .page.container {
    padding-left: 0;
    width: 748px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span16 {
    width: 748px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span15 {
    width: 700px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span14 {
    width: 652px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span13 {
    width: 604px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span12 {
    width: 556px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span11 {
    width: 508px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span10 {
    width: 460px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span9 {
    width: 412px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span8 {
    width: 364px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span7 {
    width: 316px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span6 {
    width: 268px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span5 {
    width: 220px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span4 {
    width: 172px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span3 {
    width: 124px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span2 {
    width: 76px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span1 {
    width: 28px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset16 {
    margin-left: 788px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset15 {
    margin-left: 740px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset14 {
    margin-left: 692px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset13 {
    margin-left: 644px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset12 {
    margin-left: 596px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset11 {
    margin-left: 548px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset10 {
    margin-left: 500px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset9 {
    margin-left: 452px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset8 {
    margin-left: 404px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset7 {
    margin-left: 356px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset6 {
    margin-left: 308px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset5 {
    margin-left: 260px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset4 {
    margin-left: 212px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset3 {
    margin-left: 164px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset2 {
    margin-left: 116px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset1 {
    margin-left: 68px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span16 {
    width: 748px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span15 {
    width: 700px;
  }
 
  body .body-nav.body-nav-vertical ~ .page.container .span9 {
    width: 412px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span8 {
    width: 364px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span7 {
    width: 316px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span6 {
    width: 268px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span5 {
    width: 220px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span4 {
    width: 172px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span3 {
    width: 124px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span2 {
    width: 76px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .span1 {
    width: 28px;
  }
 
  body .body-nav.body-nav-vertical ~ .page.container .offset4 {
    margin-left: 212px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset3 {
    margin-left: 164px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset2 {
    margin-left: 116px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .offset1 {
    margin-left: 68px;
  }
  
  body .body-nav.body-nav-vertical ~ .page.container .container .span3 {
    width: 124px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span2 {
    width: 76px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span1 {
    width: 28px;
  }
  
  body .body-nav.body-nav-vertical ~ .page.container .container .offset5 {
    margin-left: 260px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset4 {
    margin-left: 212px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset3 {
    margin-left: 164px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset2 {
    margin-left: 116px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset1 {
    margin-left: 68px;
  }
  
  body .body-nav.body-nav-vertical ~ .page.container .container .span6 {
    width: 268px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span5 {
    width: 220px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span4 {
    width: 172px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span3 {
    width: 124px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span2 {
    width: 76px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .span1 {
    width: 28px;
  }

  body .body-nav.body-nav-vertical ~ .page.container .container .offset6 {
    margin-left: 308px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset5 {
    margin-left: 260px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset4 {
    margin-left: 212px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset3 {
    margin-left: 164px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset2 {
    margin-left: 116px;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container .offset1 {
    margin-left: 68px;
  }
  body page.container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 0) and (max-width: 579px) {
  body {
    padding: 0;
  }
  body .navbar-fixed-top {
    margin: inherit;
    margin-bottom: 0;
  }
  body #body-content {
    padding-top: 0;
  }
  body .body-nav .container {
    width: auto;
	
  }
  body .body-nav.body-nav-horizontal {
    position: inherit;
    display: block;
    height: 140px;
  }
  body .body-nav.body-nav-horizontal.body-nav-fixed {
    position: inherit;
    display: block;
    height: auto;
  }
  body .body-nav.body-nav-vertical {
    width: auto;
    float: none;
    margin-top: 0;
    background-color: #1f3a4d;
    background-image: -moz-linear-gradient(top, #1f3a4d, #1f3a4d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#1f3a4d));
    background-image: -webkit-linear-gradient(top, #1f3a4d, #1f3a4d);
    background-image: -o-linear-gradient(top, #1f3a4d, #1f3a4d);
    background-image: linear-gradient(to bottom, #1f3a4d, #1f3a4d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff1f3a4d', GradientType=0);
    border-bottom: 2px solid #2e5571;
    -webkit-box-shadow: 1px 1px 2px #1f3a4d;
    -moz-box-shadow: 1px 1px 2px #1f3a4d;
    box-shadow: 1px 1px 2px #1f3a4d;
    height: 70px;
    position: inherit;
    display: block;
    height: auto;
  }
  body .body-nav.body-nav-vertical ul li {
    border-left: 1px solid #101f29;
    border-right: 1px solid #101f29;
    width: 80px;
    float: left;
  }
  body .body-nav.body-nav-vertical ul li a,
  body .body-nav.body-nav-vertical ul li button {
    height: 51px;
  }
  body .body-nav.body-nav-vertical.body-nav-fixed {
    position: fixed;
    display: inline;
    right: 0;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    top: 40px;
    z-index: 921;
  }
  body .body-nav.body-nav-vertical.body-nav-fixed {
    position: inherit;
    display: block;
    height: auto;
  }
  body .body-nav.body-nav-vertical li:first-child {
    border-top: 1px solid #101f29;
  }
  body .nav-page {
    height: auto;
  }
  body .nav-page .btn-navbar {
    display: block;
  }
  body .nav-page .page-header {
    padding-left: 10px;
    border-bottom: 1px solid #84ccfd;
  }
  body .nav-page .nav.nav-pills {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  body .nav-page .nav.nav-pills li a,
  body .nav-page .nav.nav-pills li button {
    margin-bottom: 8px;
  }
  body .nav-page .nav.nav-tabs {
    padding-left: 5px;
  }
  body .application-footer {
    margin-top: inherit;
  }
}
@media (max-width: 767px) {
  body .nav-page .nav.nav-pills {
    float: none;
  }
  body .nav-page .nav.nav-tabs {
    padding-top: 0;
  }
  body .page {
    padding-left: 20px;
    padding-right: 20px;
  }
  body .body-nav.body-nav-vertical ~ .page.container {
    width: auto;
    padding-left: 20px;
  }
  body .body-nav.body-nav-vertical ~ .page.container [class*="span"] {
    width: 100%;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container {
    width: auto;
  }
  body .body-nav.body-nav-vertical ~ .page.container .container [class*="span"] {
    width: 100%;
  }
}

.body-nav.body-nav-vertical ul li {
  background-color: #1c3546;
  background-image: -moz-linear-gradient(top, #1f3a4d, #182c3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#182c3b));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #182c3b);
  background-image: -o-linear-gradient(top, #1f3a4d, #182c3b);
  background-image: linear-gradient(to bottom, #1f3a4d, #182c3b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff182c3b', GradientType=0);
  border-bottom: 1px solid #020304;
  -webkit-box-shadow: 1px 1px 2px rgba(31, 58, 77, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(31, 58, 77, 0.1);
  box-shadow: 1px 1px 2px rgba(31, 58, 77, 0.1);
  background-color: #192f3e;
  background-image: -moz-linear-gradient(top, #1f3a4d, #101f29);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#101f29));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #101f29);
  background-image: -o-linear-gradient(top, #1f3a4d, #101f29);
  background-image: linear-gradient(to bottom, #1f3a4d, #101f29);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff101f29', GradientType=0);
  -webkit-box-shadow: 1px 1px 2px #20a3fb;
  -moz-box-shadow: 1px 1px 2px #20a3fb;
  box-shadow: 1px 1px 2px #20a3fb;
  background-color: #1f3a4d;
  background-image: -moz-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#1f3a4d));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -o-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: linear-gradient(to bottom, #1f3a4d, #1f3a4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff1f3a4d', GradientType=0);
  border-bottom: 2px solid #048ae4;
  -webkit-box-shadow: 1px 1px 2px #1f3a4d;
  -moz-box-shadow: 1px 1px 2px #1f3a4d;
  box-shadow: 1px 1px 2px #1f3a4d;
  border-bottom: 2px solid #182c3b;
  -webkit-box-shadow: 2px 2px 4px #1f3a4d;
  -moz-box-shadow: 2px 2px 4px #1f3a4d;
  box-shadow: 2px 2px 4px #1f3a4d;
}
.body-nav.body-nav-vertical ul li a,
.body-nav.body-nav-vertical ul li button {
  height: 65px;
}
.body-nav.body-nav-vertical ul li:first-child {
  border-top: 1px solid #048ae4;
}
.body-nav.body-nav-vertical.body-nav-fixed {
  position: fixed;
}
.body-nav.body-nav-horizontal {
  background-color: #1f3a4d;
  background-image: -moz-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f3a4d), to(#1f3a4d));
  background-image: -webkit-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: -o-linear-gradient(top, #1f3a4d, #1f3a4d);
  background-image: linear-gradient(to bottom, #1f3a4d, #1f3a4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f3a4d', endColorstr='#ff1f3a4d', GradientType=0);
  border-bottom: 2px solid #2e5571;
  -webkit-box-shadow: 1px 1px 2px #1f3a4d;
  -moz-box-shadow: 1px 1px 2px #1f3a4d;
  box-shadow: 1px 1px 2px #1f3a4d;
  height: 70px;
}
.body-nav.body-nav-horizontal ul li {
  border-left: 1px solid #101f29;
  border-right: 1px solid #101f29;
  width: 80px;
  float: left;
}
.body-nav.body-nav-horizontal ul li a,
.body-nav.body-nav-horizontal ul li button {
  height: 65px;
}
.body-nav.body-nav-horizontal.body-nav-fixed {
  position: fixed;
  display: inline;
  right: 0;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  top: 40px;
  z-index: 921;
}
.body-nav ul {
  height: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.body-nav ul li {
  width: 100%;
  border-bottom: 1px solid #101f29;
  border-top: 1px solid #101f29;
}