<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.park.dao.LepayrecordMapper" >
  <resultMap id="BaseResultMap" type="com.park.model.Lepayrecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="payType" property="paytype" jdbcType="SMALLINT" />
    <result column="mchId" property="mchid" jdbcType="CHAR" />
    <result column="cmpAppId" property="cmpappid" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="outTradeNo" property="outtradeno" jdbcType="CHAR" />
    <result column="payTypeTradeNo" property="paytypetradeno" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="poschargeId" property="poschargeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payType, mchId, cmpAppId, amount, outTradeNo, payTypeTradeNo, orderNo, date, 
    poschargeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lepayRecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lepayRecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.park.model.Lepayrecord" >
    insert into lepayRecord (id, payType, mchId, 
      cmpAppId, amount, outTradeNo, 
      payTypeTradeNo, orderNo, date, 
      poschargeId)
    values (#{id,jdbcType=INTEGER}, #{paytype,jdbcType=SMALLINT}, #{mchid,jdbcType=CHAR}, 
      #{cmpappid,jdbcType=CHAR}, #{amount,jdbcType=INTEGER}, #{outtradeno,jdbcType=CHAR}, 
      #{paytypetradeno,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{poschargeid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.park.model.Lepayrecord" >
    insert into lepayRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="mchid != null" >
        mchId,
      </if>
      <if test="cmpappid != null" >
        cmpAppId,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="outtradeno != null" >
        outTradeNo,
      </if>
      <if test="paytypetradeno != null" >
        payTypeTradeNo,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="poschargeid != null" >
        poschargeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=SMALLINT},
      </if>
      <if test="mchid != null" >
        #{mchid,jdbcType=CHAR},
      </if>
      <if test="cmpappid != null" >
        #{cmpappid,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="outtradeno != null" >
        #{outtradeno,jdbcType=CHAR},
      </if>
      <if test="paytypetradeno != null" >
        #{paytypetradeno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="poschargeid != null" >
        #{poschargeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.park.model.Lepayrecord" >
    update lepayRecord
    <set >
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=SMALLINT},
      </if>
      <if test="mchid != null" >
        mchId = #{mchid,jdbcType=CHAR},
      </if>
      <if test="cmpappid != null" >
        cmpAppId = #{cmpappid,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="outtradeno != null" >
        outTradeNo = #{outtradeno,jdbcType=CHAR},
      </if>
      <if test="paytypetradeno != null" >
        payTypeTradeNo = #{paytypetradeno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="poschargeid != null" >
        poschargeId = #{poschargeid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.park.model.Lepayrecord" >
    update lepayRecord
    set payType = #{paytype,jdbcType=SMALLINT},
      mchId = #{mchid,jdbcType=CHAR},
      cmpAppId = #{cmpappid,jdbcType=CHAR},
      amount = #{amount,jdbcType=INTEGER},
      outTradeNo = #{outtradeno,jdbcType=CHAR},
      payTypeTradeNo = #{paytypetradeno,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      poschargeId = #{poschargeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAmount" resultType="int">
  	select count(*) from lepayRecord
  </select>
  <select id="getByOutTradeNo" resultType="com.park.model.Lepayrecord">
  	select * from lepayRecord where outTradeNo=#{outTradeNo}
  </select>
  <select id="getByCount" resultType="com.park.model.Lepayrecord">
  	select * from lepayRecord order by id desc limit #{start},#{count} 
  </select>
</mapper>